
<div id="contenido_adocao">
        <div id="indicaciones">
            <p> <strong>Indicações:</strong>  do funcionamento desta seção, a forma de mostrar as características dos cachorros (mouse-digita no img), o que acontece quando você clica em adotar ... etc. va a tener un boton cerrar y de cerrarse la proxima vez que se accese a este lugar por el usuario no va a aparecer.</p>
            <div id="ind_cerrar">
            <input type="button" value="fechar">
                <!-- <a href="3">fechar </a>  -->
            </div>
        </div>
        <div class="contenedor_perro">
            <img src="assets/img/opening.jpg" alt="">
            <div class="BtnAdoptar">
                <p>Boxter | <a href="#">Adoptar</a> </p>
            </div>
        </div>
        <div class="contenedor_perro">
            <img src="assets/img/355332430_8.jpg" alt="">
            <div class="BtnAdoptar">
                 <p>Rolly | <a href="#">Adoptar</a> </p>
            </div>
        </div>
        <div class="contenedor_perro">
                <img src="assets/img/Baleia.jpeg" alt="">
                <div class="BtnAdoptar">
                     <p>Baleia | <a href="#">Adoptar</a> </p>
                </div>
        </div>
        <div class="contenedor_perro">
                <img src="assets/img/Cacau.jpeg" alt="">
                <div class="BtnAdoptar">
                     <p>Cacau | <a href="#">Adoptar</a> </p>
                </div>
        </div>
        <div class="contenedor_perro">
                <img src="assets/img/Derick.jpg" alt="">
                <div class="BtnAdoptar">
                     <p>Derick | <a href="#">Adoptar</a> </p>
                </div>
        </div>
        <div class="contenedor_perro">
                <img src="assets/img/Maria.jpg" alt="">
                <div class="BtnAdoptar">
                     <p>Maria | <a href="#">Adoptar</a> </p>
                </div>
        </div>
        <div class="contenedor_perro">
                <img src="assets/img/Morceguinho.jpg" alt="">
                <div class="BtnAdoptar">
                     <p>Morceguinho | <a href="#">Adoptar</a> </p>
                </div>
        </div>
        <div class="contenedor_perro">
                <img src="assets/img/Tomas.jpeg" alt="">
                <div class="BtnAdoptar">
                     <p>Tomas | <a href="#">Adoptar</a> </p>
                </div>
        </div>
        <div class="contenedor_perro">
                <img src="assets/img/Veludo.jpeg" alt="">
                <div class="BtnAdoptar">
                     <p>Veludo | <a href="#">Adoptar</a> </p>
                </div>
        </div>
        <div class="contenedor_perro">
                <img src="assets/img/Orion.jpeg" alt="">
                <div class="BtnAdoptar">
                     <p>Orion | <a href="#">Adoptar</a> </p>
                </div>
        </div>
        
    </div>